@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-light-s.eot");
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-light-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-light-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-light-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-light-s.svg#LLAkkuratWeb-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-lightitalic-s.eot");
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-lightitalic-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-lightitalic-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-lightitalic-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-lightitalic-s.svg#LLAkkuratWeb-Lightitalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-regular-s.eot");
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-regular-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-regular-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-regular-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-regular-s.svg#LLAkkuratWeb-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-italic-s.eot");
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-italic-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-italic-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-italic-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-italic-s.svg#LLAkkuratWeb-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-bold-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bold-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bold-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bold-s.svg#LLAkkuratWeb-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: LLAkkurat;
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-bolditalic-s.eot");
  src: url("../static/fonts/lineto-akkurat/lineto-akkurat-bolditalic-s.eot#iefix") format("embedded-opentype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bolditalic-s.woff") format("woff"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bolditalic-s.ttf") format("truetype"), url("../static/fonts/lineto-akkurat/lineto-akkurat-bolditalic-s.svg#LLAkkuratWeb-Bolditalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
