/** Circular Pro **/
@font-face {
  font-family: LLCircularWeb;
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/circular/lineto-circular-book-c.eot');
  src: url('../static/fonts/circular/lineto-circular-book-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-book-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-book-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-book-c.svg#LLCircularWeb-Book') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: normal;
  font-weight: 500;
  src: url('../static/fonts/circular/lineto-circular-medium-c.eot');
  src: url('../static/fonts/circular/lineto-circular-medium-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-medium-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-medium-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-medium-c.svg#LLCircularWeb-Medium') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/circular/lineto-circular-bold-c.eot');
  src: url('../static/fonts/circular/lineto-circular-bold-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-bold-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-bold-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-bold-c.svg#LLCircularWeb-Bold') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: normal;
  font-weight: 800;
  src: url('../static/fonts/circular/lineto-circular-black-c.eot');
  src: url('../static/fonts/circular/lineto-circular-black-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-black-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-black-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-black-c.svg#LLCircularWeb-Black') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: italic;
  font-weight: 400;
  src: url('../static/fonts/circular/lineto-circular-bookitalic-c.eot');
  src: url('../static/fonts/circular/lineto-circular-bookitalic-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-bookitalic-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-bookitalic-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-bookitalic-c.svg#LLCircularWeb-Bookitalic') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: italic;
  font-weight: 500;
  src: url('../static/fonts/circular/lineto-circular-mediumitalic-c.eot');
  src: url('../static/fonts/circular/lineto-circular-mediumitalic-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-mediumitalic-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-mediumitalic-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-mediumitalic-c.svg#LLCircularWeb-Mediumitalic') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: italic;
  font-weight: 700;
  src: url('../static/fonts/circular/lineto-circular-bolditalic-c.eot');
  src: url('../static/fonts/circular/lineto-circular-bolditalic-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-bolditalic-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-bolditalic-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-bolditalic-c.svg#LLCircularWeb-Bolditalic') format('svg');
}

@font-face {
  font-family: LLCircularWeb;
  font-style: italic;
  font-weight: 800;
  src: url('../static/fonts/circular/lineto-circular-blackitalic-c.eot');
  src: url('../static/fonts/circular/lineto-circular-blackitalic-c.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/circular/lineto-circular-blackitalic-c.woff') format('woff'),
    url('../static/fonts/circular/lineto-circular-blackitalic-c.ttf') format('truetype'),
    url('../static/fonts/circular/lineto-circular-blackitalic-c.svg#LLCircularWeb-Blackitalic') format('svg');
}
