@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../static/fonts/dinpro/DINPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/dinpro/DINPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../static/fonts/dinpro/DINPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../static/fonts/dinpro/DINPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../static/fonts/dinpro/DINPro-Black.otf") format("opentype");
}
